<spinner [backgroundColor]="'#5BC0DE'" [spinner]="spinkit.skWave"></spinner>
<h1>
  <a (click)="getLists()">Gérez vos listes !</a>
</h1>
<br>
<hr>
<div class="row">
  <div class="col-sm-12">
    <div style="display:flex; justify-content: space-between;">
      <div style="display: flex;">
        <h4>Sélectionnez une liste:</h4>
      </div>
      <button type="button" id="btn1" class="btn btn-info" (click)="open()">créer une nouvelle liste</button>
    </div>
  </div>
</div>
<br>

<div class="row">

  <table class="table table-striped table-bordered">
    <thead class="thead">
      <tr>
        <th scope="col">
          <h5>Nom de la liste</h5>
        </th>
        <th scope="col">
          <h5>Nombre d'options</h5>
        </th>
        <th scope="col">
          <h5>Description</h5>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elemlist of lists" (click)="open(elemlist)">
        <td>{{elemlist.listName}}</td>
        <td>{{elemlist.options.length}}</td>
        <td>{{elemlist.comment}}</td>
        <td><a class="glyphicon glyphicon-trash" (click)="delete(elemlist.id);$event.stopPropagation();"></a></td>
  <!--$event : le clic pour ouvrir la liste est sur la ligne entière du tableau, $event.stopPropopagation le rend inactif sur la cellule sélectionnée-->
      </tr>
    </tbody>
  </table>
</div>