<spinner [backgroundColor]="'#5BC0DE'" [spinner]="spinkit.skWave"></spinner>
<h1>
  <a (click)="getSurveys()">Gérez vos questionnaires !</a>
</h1>
<br>
<hr>
<div class="row">
  <div class="col-sm-6" style="display:flex; justify-content: space-between;">
    <div style="display: flex;">
      <h4>Sélectionnez un questionnaire:</h4>
    </div>
    <button type="button" class="btn btn-info" (click)="open()">Créer un nouveau questionnaire</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <table class="table table-striped table-bordered">
      <thead class="thead">
        <tr>
          <th scope="col">
            <h5>Nom du questionnaire</h5>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let elem of surveyListR" (click)="open(elem)" >
          <td>{{elem['nomForm']}}</td>
          <td><a class="glyphicon glyphicon-trash" (click)="delete(elem);$event.stopPropagation();"></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>