<div class="modal-content">
<div class="modal-header">
  <h2>{{title}}</h2>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <!--activeModal vient de NgbModule / cf ng-bootstrap-->
    <span aria-hidden="true">&times;</span>
    <!--fabrication de la petite croix et sa fonction pour fermer le modal -->
  </button>
</div>

<div class="modal-body">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="listForm" (ngSubmit)="onSubmit(typeBouton)" #Lform="ngForm" novalidate>

          <!-- Nom de la liste -->
          <div class="form-group">
            <div class="card-header">
             <label for="nom" class="label">Nom de la liste: </label>
              <input type="text" id="focusMe" class="input" required name="nom" #nom="ngModel" [(ngModel)]="list.listName" [ngModelOptions]="{standalone: true}">
              <div *ngIf="nom.errors && (nom.dirty || nom.touched)" class="alert alert-danger">
                <div [hidden]="!nom.errors.required">Champs requis !</div>
              </div>
              <br><br>
              <label for="comment" class="label2" style="vertical-align: top;" >Description :</label>
              <textarea rows="2" cols="70" class="input" name="comment" #comment="ngModel" [(ngModel)]="list.comment" [ngModelOptions]="{standalone: true}"></textarea>
              
            </div>
          </div>
          <div>

            <!--Options-->
            <div class="card-content">
              <div *ngFor="let elem of list.options; let i=index">
                <div style="margin-left: 1em; display: flex; justify-content: space-between;">
                  <div style="display: flex;" > <h5>Option {{i + 1}} :</h5> </div> 
                  <div class="form-group" >   
                    <label for="key" class="label">clé: </label>
                    <input class="input" size="8" required maxlength="8" name="key" #key="ngModel" [(ngModel)]="elem.key" [ngModelOptions]="{standalone: true}">
                    <div *ngIf="key.errors && (key.dirty || key.touched)" class="alert alert-danger">
                      <div [hidden]="!key.errors.required">Champs requis !</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="nomO"  class="label">nom de l'option:</label>
                    <input class="input" size="30" [(ngModel)]="elem.optionName" required name="nomO" #nomO="ngModel" [ngModelOptions]="{standalone: true}">
                    <div *ngIf="nomO.errors && (nomO.dirty || nomO.touched)" class="alert alert-danger">
                      <div [hidden]="!nomO.errors.required">Champs requis !</div>
                    </div>
                  </div>
                  <div><a class="glyphicon glyphicon-trash" (click)="deleteOption(i)"></a></div>
                </div>
              </div>
              <hr>
              <button (click)="addOption()" type="button" id="btn2" class="btn btn-outline-info">Ajouter une option</button>
            </div>
          </div>

          <div class="card-footer" style="margin-bottom: 1em">
            <button id="btn1" type="submit" [disabled]="!Lform.form.valid" class="btn btn-success">Sauvegarder</button>
            <button type="return" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Close click')">Retour</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br>
</div>
</div>