h2 {
    margin-left : 30%;
}

#btn1 {
    float : right;
    margin-left: 8px;
}

#btn2 {
    margin-bottom: 5px;
}

.label{
    font-size: 12px;
    font-weight: normal;
    color: black;
    content : "*";
}

.label:after {
    content : "*";
    color: red;
}

.label2{
    font-size: 12px;
    font-weight: normal;
    color: black;
    margin-right: 10px;
}

.input {
    color:  #95a5a6;
    font-style: italic;
}

.card-header {
    background-color:  #d4e6f1  ;
}

h5{
    color: black;
    text-decoration: underline;
}

.modal-content{
    width: 550px;
} 

.card{
    width: 500px;
}