<div class="container">

    <ul class="nav nav-tabs mb-5">
        <li class="nav-tabs-li" (click)="activeMenu = 1"><a href="#">Les questionnaires</a></li>
        <li class="nav-tabs-li" (click)="activeMenu = 2"><a href="#">Le paramètrage des listes déroulantes</a></li>
        <li class="nav-tabs-li" (click)="activeMenu = 3"><a href="#">Le paramètrage des formulaires</a></li> 
      </ul>
      
  <survey *ngIf="activeMenu == 1"></survey>
  <lists *ngIf="activeMenu == 2"></lists>
  <survey-editor *ngIf="activeMenu == 3"></survey-editor>

</div>


